@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.DeliveryNoteViewModel
@{
    ViewData["Title"] = "Item - Search";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Delivery Note:</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }
        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">                      
                    Delivery Note: @Html.TextBoxFor(model => model.DeliveryNoteID, new { Class="form-control mb-2"})                    
                </div>
            </div>
        </div>        
        @foreach(var item in Model.Items)
        {
            <div class="row">
                <div class="col-sm-3">
                    ID: @item.DeliveryNoteItemID
                </div>
                <div class="col-sm-3">
                    Date: @item.ItemDeliveryDate
                </div>
                <div class="col-sm-3">
                    Desc: @item.ItemDescription
                </div>
                <div class="col-sm-3">
                    Qty: @item.ItemQty
                </div>
            </div>
        }
         <div class="row">
            <div class="col-sm-3"><a href="/Order/Search/@Model.orderHeaderID" class="btn btn-outline-dark btn-block mb-3">Back</a></div>
        </div>        
    </form>
</div>