@model FMASolutionsCore.Web.FMASolutionsWebsite.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutFMASolutions.cshtml";
}
<div class="container white-background rounded pl-2 pr-2 mb-5 pt-3 pb-4">
    @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post, new { Class = "form-signin", enctype = "multipart/form-data" }))
    {
        <div class="text-left mb-2">
            <h1>Login</h1>
            <p>Please enter login details:</p>
        </div>
        <div class="error-message">
            @if (Model != null && Model.AuthenticationStatusMessage != null)
            {
                <Label class="error-text">@Model.AuthenticationStatusMessage </Label>
            }
        </div>
        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", Class="form-control mb-2"})
        @Html.ValidationMessageFor(model => model.Username, "", new { Class = "error-text" })
        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", Class="form-control mb-2" })
        @Html.ValidationMessageFor(model => model.Password, "", new { Class = "error-text" })
        <div class="checkbox mb-3">
            <label><input type="checkbox" id="remember-me" value="remember-me">Stay Logged In</label>
        </div>
        <div class="row">
            <div class="col-sm-12"><button type="submit" class="btn btn-outline-dark btn-block mb-3 fma-orange-text">Login</button></div>
        </div>
        <div class="row">
            <div class="col-sm-6 pr-2"><a href="/UserAccount/Register" class="btn btn-outline-dark btn-block mb-3">New User</a></div>
            <div class="col-sm-6 pl-2"><a href="#" class="btn btn-outline-dark btn-block mb-4">Forgot Password</a></div>
        </div>
    }
</div>