@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.SubGroupViewModel
@{
    ViewData["Title"] = "Sub Group - Create Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Create A Sub Group</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusErrorMessage != null)
        {
            <Label class="error-text">@Model.StatusErrorMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    SubGroup Code: @Html.TextBoxFor(model => model.SubGroupCode, new { placeholder = "Sub Group Code", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.SubGroupCode, "", new { Class = "error-text" })                  
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Product Group: 
                    @Html.DropDownListFor(
                        m => m.ProductGroupID,
                        new SelectList(Model.AvailableProductGroups, "Key", "Value"),
                        "- Select Product Group -",
                        new { @class = "form-control" } 
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Name: @Html.TextBoxFor(model => model.SubGroupName, new { placeholder = "Sub Group Name", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.SubGroupName, "", new { Class = "error-text" })        
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Description: @Html.TextBoxFor(model => model.SubGroupDescription, new { placeholder = "Sub Group Description", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.SubGroupDescription, "", new { Class = "error-text" })        
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6"><button type="submit" formaction=@Url.Action("Create") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Create</button></div>            
            <div class="col-sm-6"><a href="/SubGroup" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>            
        </div>        
    </form>
</div>

