@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.CityAreaViewModel
@{
    ViewData["Title"] = "City Area - Create Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Create A City Area</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    City Area Code: @Html.TextBoxFor(model => model.CityAreaCode, new { placeholder = "City Area Code", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.CityAreaCode, "", new { Class = "error-text" })                  
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    City: 
                    @Html.DropDownListFor(
                        m => m.CityID,
                        new SelectList(Model.AvailableCities, "Key", "Value"),
                        "- Select City -",
                        new { @class = "form-control" } 
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Name: @Html.TextBoxFor(model => model.CityAreaName, new { placeholder = "City Area Name", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.CityAreaName, "", new { Class = "error-text" })        
                </div>
            </div>  
        </div>
         <div class="row">
            <div class="col-sm-6"><button type="submit" formaction=@Url.Action("Create") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Create</button></div>            
            <div class="col-sm-6"><a href="/CityArea" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>            
        </div>        
    </form>
</div>

