@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.ProductGroupViewModel
@{
    ViewData["Title"] = "Product Group - Search Results";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Product Group Details:</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusErrorMessage != null)
        {
            <Label class="error-text">@Model.StatusErrorMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">                    
                    ProductGroup ID: @Html.TextBoxFor(model => model.ProductGroupID, new { ReadOnly="true", Class="form-control mb-2"})               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Code: @Html.TextBoxFor(model => model.ProductGroupCode, new { ReadOnly="true", Class="form-control mb-2"})               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Name: @Html.TextBoxFor(model => model.ProductGroupName, new { ReadOnly="true", Class="form-control mb-2"})                
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Description: @Html.TextBoxFor(model => model.ProductGroupDescription, new { ReadOnly="true", Class="form-control mb-2"})                
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-4"><button type="submit" formaction=@Url.Action("DisplayForUpdate") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Update</button></div>            
            <div class="col-sm-4"><a href="/ProductGroup" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>            
        </div>        
    </form>
</div>

