@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.CityViewModel
@{
    ViewData["Title"] = "City - View Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>City Details:</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">                    
                    City ID: @Html.TextBoxFor(model => model.CityID, new { ReadOnly="true", Class="form-control mb-2"})               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    City Code: @Html.TextBoxFor(model => model.CityCode, new { ReadOnly="true", Class="form-control mb-2"})               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">                    
                    Country: @Html.TextBoxFor(model => model.AvailableCountries[Model.CountryID], new { ReadOnly="true", Class="form-control mb-2"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">                    
                    @Html.TextBoxFor(model => model.CountryID, new { ReadOnly="true", Class="form-control mb-2", style="display: none"})               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    City Name: @Html.TextBoxFor(model => model.CityName, new { ReadOnly="true", Class="form-control mb-2"})                
                </div>
            </div>  
        </div>
         <div class="row">
            <div class="col-sm-4"><button type="submit" formaction=@Url.Action("DisplayForUpdate") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Update</button></div>            
            <div class="col-sm-4"><a href="/City" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>
        </div>        
    </form>
</div>

