@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.AddressLocationViewModel
@{
    ViewData["Title"] = "Address Location - Create Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Create An Address Location</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Address Line 1: @Html.TextBoxFor(model => model.AddressLine1, new { placeholder = "Address Line 1", Class="form-control mb-2"})    
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Address Line 2: @Html.TextBoxFor(model => model.AddressLine2, new { placeholder = "Address Line 2", Class="form-control mb-2"})
                </div>
            </div>  
        </div>     
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    City Area: 
                    @Html.DropDownListFor(
                        m => m.CityAreaID,
                        new SelectList(Model.AvailableCityAreas, "Key", "Value"),
                        "- Select City Area -",
                        new { @class = "form-control" } 
                    )
                    @Html.ValidationMessageFor(model => model.CityAreaID, "", new { Class = "error-text" })
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Postcode: @Html.TextBoxFor(model => model.PostCode, new { placeholder = "Postcode", Class="form-control mb-2"})
                </div>
            </div>
        </div>    
         <div class="row">
            <div class="col-sm-6"><button type="submit" formaction=@Url.Action("Create") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Create</button></div>            
            <div class="col-sm-6"><a href="/AddressLocation" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>            
        </div>        
    </form>
</div>

