@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.CustomerTypeViewModel
@{
    ViewData["Title"] = "Customer Type - Create Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Create A Customer Type</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Customer Type Code: @Html.TextBoxFor(model => model.CustomerTypeCode, new { placeholder = "Customer Type Code", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.CustomerTypeCode, "", new { Class = "error-text" })                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    Customer Type Name: @Html.TextBoxFor(model => model.CustomerTypeName, new { placeholder = "Customer Type Name", Class="form-control mb-2"})
                    @Html.ValidationMessageFor(model => model.CustomerTypeName, "", new { Class = "error-text" })        
                </div>
            </div>  
        </div>
         <div class="row">
            <div class="col-sm-6"><button type="submit" formaction=@Url.Action("Create") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Create</button></div>            
            <div class="col-sm-6"><a href="/CustomerType" class="btn btn-outline-dark btn-block mb-3">Back</a></button></div>            
        </div>        
    </form>
</div>

